body {
    background-color: #141414;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

main {
    max-width: 23%;
    width: 100%;
    background-color: #1e1e1e;
    border-radius: 13px;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

img {
    width: 31%;
    border-radius: 50%;
    border: 5px solid #000000;
}

#name {
    font-family: "Roboto", sans-serif;
    color: white;
}

#address {
    margin-top: -10px;
    font-size: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #D6F560;
    font-style: normal;
}

#description {
    margin-top: 28px;
    color: white;
}

#github {
    cursor: pointer;
    color: white;
    background-color: #363636;
    padding: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-radius: 14px;
    width: 100%;
    margin-bottom: 15px;
}

#instagram {
    cursor: pointer;
    color: white;
    background-color: #363636;
    padding: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-radius: 14px;
    width: 100%;
    margin-bottom: 15px;
}


#linkedin {
    cursor: pointer;
    color: white;
    background-color: #363636;
    padding: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-radius: 14px;
    width: 100%;
    margin-bottom: 15px;
}

#x {
    cursor: pointer;
    color: white;
    background-color: #363636;
    padding: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-radius: 14px;
    width: 100%;
    margin-bottom: 15px;
}

#github:hover {
    background-color: #616161;
}
#instagram:hover {
    background-color: #616161;
}
#linkedin:hover {
    background-color: #616161;
}
#x:hover {
    background-color: #616161;
}

img:hover {
    border: 5px solid #616161;
}